apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2-container
        image: app:2
        ports:
          - containerPort: 8000
        env:
        - name: ROOT_PATH
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: ROOT_PATH
        - name: CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: CLIENT_ID
        - name: CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: CLIENT_SECRET
        - name: DNS
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: DNS
        - name: REDIRECT_URI
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: REDIRECT_URI
        - name: SECURE
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: SECURE
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: REDIS_HOST
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: REDIS_PORT
        - name: REDIS_ACCESS_DB
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: REDIS_ACCESS_DB
        - name: REDIS_REFRESH_DB
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: REDIS_REFRESH_DB
        - name: HOST
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: HOST
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: app2-config
              key: PORT
        # volumeMounts:
        #   - name: app2-env
        #     mountPath: "/etc/config"
      # volumes:
      #   - name: app2-env
      #     configMap:
      #       name: app2-config
